body {
  margin: 0;
  font-family: acumin-pro, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.active {
  color: royalblue;
}

a {
  color: #737780;
  text-decoration: unset;
}

.m-8 {
  margin-bottom: 8px;
  margin-top: 0
}
